.module-card {
  text-align: center;
  margin-bottom: 10px;
}

.module-label {
  font-size: 12px;
  color: #909399;
  margin-bottom: 5px;
}

.module-value {
  font-size: 20px;
  font-weight: bold;
  color: #909399;
}

.module-value.active {
  color: #409eff;
}
